{% extends 'base_p.html' %}

{% block imports %}

    <link rel="import" href="/static/bower_components/core-icons/hardware-icons.html"/>
    <link rel="import" href="/static/bower_components/polymer-grid-layout/polymer-grid-layout.html"/>
    <link rel="import" href="/static/bower_components/paper-progress/paper-progress.html"/>

{% endblock %}

{% block content %}

    <div>
        <polymer-grid-layout auto center layout="[[1,3,5],[2,4,5],[6,6,6]]"></polymer-grid-layout>
        {# 1 #}
        <div class="card" id="card-cpu">
            <p>
                <core-icon icon="desktop-windows"></core-icon>CPU Usage: {{ ctx.cpu.usage }}
            </p>
            <paper-progress value="{{ ctx.cpu.usage }}"></paper-progress>
        </div>
        {# 2 #}
        <div class="card" id="card-ram">
            <p>
                <core-icon icon="memory"></core-icon>RAM Usage: 46%
            </p>
            <paper-progress value="46%"></paper-progress>
        </div>
        {# 3 #}
        <div class="card" id="card-uptime">
            <p>
                <core-icon icon="schedule"></core-icon>Uptime: 2:46:12
            </p>
        </div>
        {# 4 #}
        <div class="card" id="card-network">
            <p>
                <core-icon icon="file-download"></core-icon>Download: 4.6GB
            </p>
            <p>
                <core-icon icon="file-upload"></core-icon>Upload: 176.5MB
            </p>
        </div>
        {# 5 #}
        <div class="card" id="card-disk" h-flex>
            <p>
                <core-icon icon="folder"></core-icon>/ - Available: 24.6GB
            </p>
            <paper-progress value="33%"></paper-progress>
            <p>
                <core-icon icon="folder"></core-icon>/media/ext - Available: 1.71TB
            </p>
            <paper-progress value="25%"></paper-progress>
        </div>
        {# 6 #}
        <div class="card" id="card-process" flex>
            <ul>
                <li><core-icon icon="chevron-right"></core-icon>SickBeard.py - 16548 - 1.0% - 6.5%</li>
                <li><core-icon icon="chevron-right"></core-icon>CouchPotato.py - 4582 - 0.0% - 6.5%</li>
                <li><core-icon icon="chevron-right"></core-icon>deluged - 14852 - 0.0% - 6.5%</li>
                <li><core-icon icon="chevron-right"></core-icon>deluge-web - 14736 - 0.0% - 6.5%</li>
                <li><core-icon icon="chevron-right"></core-icon>SickBeard.py - 16547 - 0.0% - 6.5%</li>
            </ul>
        </div>
    </div>



{% endblock %}